.big_box{
    padding: 20px;
    width: 70%;
}

.small_box{
    padding: 20px;
}

.big_img{
    width: 100%;
}

.small_img{
    width: 100%;
}

.middle_box{
    width: 30%;
    padding: 10px;
}

.middle_img{
    width: 100%;
    height: 200px;
}